/*
 * Rotational transforms are used extensively. For all of these, the element to
 * be rotated is positioned at the 12 o'clock position and its transform-origin
 * is moved to be at the center of the clock face so that the rotation moves
 * the element around the face.
 *
 * For hour numerals, the element is rotated to position, and then a negative
 * rotation is applied to the text so that it is upright.
 */

.clock {
  --clock-size: 400px;
  --frame-width: 5px;
  --frame-color: #aaa;

  --chapter-ring-radius: 0.9;
  --mark-width: 10px;
  --mark-color: #aaa;
  --label-font-size: 32px;

  --hand-boss-radius: 15px;
  --second-hand-color: #f00;
  --second-hand-width: 2px;
  --second-hand-length: 0.9;
  --second-hand-tail-length: 0.2;

  --minute-hand-color: #000;
  --minute-hand-width: 5px;
  --minute-hand-length: 0.9;
  --minute-hand-tail-length: 0.2;

  --hour-hand-color: #000;
  --hour-hand-width: 5px;
  --hour-hand-length: 0.6;
  --hour-hand-tail-length: 0.2;

  --hand-transform-duration: 100ms;

  --clock-radius: calc(var(--clock-size) / 2);

  position: relative;
  width: var(--clock-size);
  height: var(--clock-size);
}

/* Ring around clock display */
.clock .frame {
  --adjusted-radius: calc(var(--clock-size) - 2 * var(--frame-width));

  position: absolute;
  top: 0;
  left: 0;
  width: var(--adjusted-radius);
  height: var(--adjusted-radius);
  border-radius: var(--clock-radius);
  border: var(--frame-width) solid var(--frame-color);
}

/* Hour numerals and minute dots around clock face */
.clock .chapter-ring {
  --chapter-ring-radius-abs: calc(var(--chapter-ring-radius) * var(--clock-radius));
  --chapter-ring-inset: calc((1 - var(--chapter-ring-radius)) * var(--clock-radius));

  --label-inset: calc(var(--mark-width) * 2);
  --label-top: calc(var(--chapter-ring-inset) + var(--label-inset));
  --label-origin: calc(var(--chapter-ring-radius-abs) - var(--label-inset));

  --mark-center: calc(var(--mark-width) / 2);
  --mark-top: calc(var(--chapter-ring-inset) - var(--mark-center));
  --mark-left: calc(var(--clock-radius) - var(--mark-center));
  --mark-origin: calc(var(--mark-center) + var(--chapter-ring-radius-abs));
}

/* Hour numerals on the chapter ring */
.clock .chapter-ring span {
  left: 0;
  text-align: center;
  font-weight: 1000;
  font-size: var(--label-font-size);
  display: block;
  position: absolute;
  top: var(--label-top);
  width: var(--clock-size);
  color: var(--mark-color);
  transform-origin: center var(--label-origin);
  transform: rotate(var(--angle));
}

.clock .chapter-ring span:after {
  content: attr(data-label);
  display: block;
  transform: rotate(calc(-1 * var(--angle)));
}

.clock .chapter-ring span:nth-of-type(1) { --angle: 0deg; }
.clock .chapter-ring span:nth-of-type(2) { --angle: 30deg; }
.clock .chapter-ring span:nth-of-type(3) { --angle: 60deg; }
.clock .chapter-ring span:nth-of-type(4) { --angle: 90deg; }
.clock .chapter-ring span:nth-of-type(5) { --angle: 120deg; }
.clock .chapter-ring span:nth-of-type(6) { --angle: 150deg; }
.clock .chapter-ring span:nth-of-type(7) { --angle: 180deg; }
.clock .chapter-ring span:nth-of-type(8) { --angle: 210deg; }
.clock .chapter-ring span:nth-of-type(9) { --angle: 240deg; }
.clock .chapter-ring span:nth-of-type(10) { --angle: 270deg; }
.clock .chapter-ring span:nth-of-type(11) { --angle: 300deg; }
.clock .chapter-ring span:nth-of-type(12) { --angle: 330deg; }

/* Minute dots on the chapter ring */
.clock .chapter-ring div {
  position: absolute;
  top: var(--mark-top);
  left: var(--mark-left);
  width: var(--mark-width);
  height: var(--mark-width);
  border-radius: var(--clock-radius);
  background: var(--mark-color);
  transform-origin: center var(--mark-origin);
  transform: rotate(var(--angle));
}

.clock .chapter-ring div:nth-of-type(5n + 1) {
  border-radius: 0;
  height: calc(var(--mark-width) * 2);
}

.clock .chapter-ring div:nth-of-type(1) { --angle: 0deg; }
.clock .chapter-ring div:nth-of-type(2) { --angle: 6deg; }
.clock .chapter-ring div:nth-of-type(3) { --angle: 12deg; }
.clock .chapter-ring div:nth-of-type(4) { --angle: 18deg; }
.clock .chapter-ring div:nth-of-type(5) { --angle: 24deg; }
.clock .chapter-ring div:nth-of-type(6) { --angle: 30deg; }
.clock .chapter-ring div:nth-of-type(7) { --angle: 36deg; }
.clock .chapter-ring div:nth-of-type(8) { --angle: 42deg; }
.clock .chapter-ring div:nth-of-type(9) { --angle: 48deg; }
.clock .chapter-ring div:nth-of-type(10) { --angle: 54deg; }
.clock .chapter-ring div:nth-of-type(11) { --angle: 60deg; }
.clock .chapter-ring div:nth-of-type(12) { --angle: 66deg; }
.clock .chapter-ring div:nth-of-type(13) { --angle: 72deg; }
.clock .chapter-ring div:nth-of-type(14) { --angle: 78deg; }
.clock .chapter-ring div:nth-of-type(15) { --angle: 84deg; }
.clock .chapter-ring div:nth-of-type(16) { --angle: 90deg; }
.clock .chapter-ring div:nth-of-type(17) { --angle: 96deg; }
.clock .chapter-ring div:nth-of-type(18) { --angle: 102deg; }
.clock .chapter-ring div:nth-of-type(19) { --angle: 108deg; }
.clock .chapter-ring div:nth-of-type(20) { --angle: 114deg; }
.clock .chapter-ring div:nth-of-type(21) { --angle: 120deg; }
.clock .chapter-ring div:nth-of-type(22) { --angle: 126deg; }
.clock .chapter-ring div:nth-of-type(23) { --angle: 132deg; }
.clock .chapter-ring div:nth-of-type(24) { --angle: 138deg; }
.clock .chapter-ring div:nth-of-type(25) { --angle: 144deg; }
.clock .chapter-ring div:nth-of-type(26) { --angle: 150deg; }
.clock .chapter-ring div:nth-of-type(27) { --angle: 156deg; }
.clock .chapter-ring div:nth-of-type(28) { --angle: 162deg; }
.clock .chapter-ring div:nth-of-type(29) { --angle: 168deg; }
.clock .chapter-ring div:nth-of-type(30) { --angle: 174deg; }
.clock .chapter-ring div:nth-of-type(31) { --angle: 180deg; }
.clock .chapter-ring div:nth-of-type(32) { --angle: 186deg; }
.clock .chapter-ring div:nth-of-type(33) { --angle: 192deg; }
.clock .chapter-ring div:nth-of-type(34) { --angle: 198deg; }
.clock .chapter-ring div:nth-of-type(35) { --angle: 204deg; }
.clock .chapter-ring div:nth-of-type(36) { --angle: 210deg; }
.clock .chapter-ring div:nth-of-type(37) { --angle: 216deg; }
.clock .chapter-ring div:nth-of-type(38) { --angle: 222deg; }
.clock .chapter-ring div:nth-of-type(39) { --angle: 228deg; }
.clock .chapter-ring div:nth-of-type(40) { --angle: 234deg; }
.clock .chapter-ring div:nth-of-type(41) { --angle: 240deg; }
.clock .chapter-ring div:nth-of-type(42) { --angle: 246deg; }
.clock .chapter-ring div:nth-of-type(43) { --angle: 252deg; }
.clock .chapter-ring div:nth-of-type(44) { --angle: 258deg; }
.clock .chapter-ring div:nth-of-type(45) { --angle: 264deg; }
.clock .chapter-ring div:nth-of-type(46) { --angle: 270deg; }
.clock .chapter-ring div:nth-of-type(47) { --angle: 276deg; }
.clock .chapter-ring div:nth-of-type(48) { --angle: 282deg; }
.clock .chapter-ring div:nth-of-type(49) { --angle: 288deg; }
.clock .chapter-ring div:nth-of-type(50) { --angle: 294deg; }
.clock .chapter-ring div:nth-of-type(51) { --angle: 300deg; }
.clock .chapter-ring div:nth-of-type(52) { --angle: 306deg; }
.clock .chapter-ring div:nth-of-type(53) { --angle: 312deg; }
.clock .chapter-ring div:nth-of-type(54) { --angle: 318deg; }
.clock .chapter-ring div:nth-of-type(55) { --angle: 324deg; }
.clock .chapter-ring div:nth-of-type(56) { --angle: 330deg; }
.clock .chapter-ring div:nth-of-type(57) { --angle: 336deg; }
.clock .chapter-ring div:nth-of-type(58) { --angle: 342deg; }
.clock .chapter-ring div:nth-of-type(59) { --angle: 348deg; }
.clock .chapter-ring div:nth-of-type(60) { --angle: 354deg; }

/* Clock hands */
.clock .hour.hand {
  --hand-length: var(--hour-hand-length);
  --hand-tail-length: var(--hour-hand-tail-length);
  --hand-width: var(--hour-hand-width);
  --hand-color: var(--hour-hand-color);
  --hand-angle: calc(var(--time) * 360deg / 43200);
}

.clock .minute.hand {
  --hand-length: var(--minute-hand-length);
  --hand-tail-length: var(--minute-hand-tail-length);
  --hand-width: var(--minute-hand-width);
  --hand-color: var(--minute-hand-color);
  --hand-angle: calc(var(--time) * 360deg / 3600);
}

.clock .second.hand {
  --hand-length: var(--second-hand-length);
  --hand-tail-length: var(--second-hand-tail-length);
  --hand-width: var(--second-hand-width);
  --hand-color: var(--second-hand-color);
  --hand-angle: calc(var(--time) * 360deg / 60);
}

.clock .hand {
  --hand-length-abs: calc(var(--hand-length) * var(--clock-radius));
  --hand-length-inset: calc((1 - var(--hand-length)) * var(--clock-radius));
  --tail-length-abs: calc(var(--hand-tail-length) * var(--clock-radius));

  position: absolute;
  top: var(--hand-length-inset);
  left: calc(var(--clock-radius) - var(--hand-width) / 2);
  width: var(--hand-width);
  height: calc(var(--hand-length-abs) + var(--tail-length-abs));
  background: var(--hand-color);
  transform-origin: center var(--hand-length-abs);
  transform: rotate(var(--hand-angle));
  transition-property: transform;
  transition-duration: var(--hand-transform-duration);
}

.clock .hand-boss {
  --hand-boss-center: calc(var(--hand-boss-radius) / 2);

  position: absolute;
  top: calc(var(--clock-radius) - var(--hand-boss-center));
  left: calc(var(--clock-radius) - var(--hand-boss-center));
  width: var(--hand-boss-radius);
  height: var(--hand-boss-radius);
  border-radius: var(--hand-boss-center);
  background: var(--second-hand-color);
}
